.video__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.video__content:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}