.quote__author {
    display: inline-block;
    margin-top: 24px;
    font-weight: 900;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
}
@media screen and (max-width: 1023px){
    .quote__author {
        order: -1;
        margin-top: 0;
        margin-bottom: 24px;
    }
}