.cover {
    margin-top: 102px;
    position: relative;
    background-image: url('../../img/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

@media screen and (max-width: 1279px){
    .cover {
        width: calc(100% + 96px);
        margin-left: -48px;
    }
}

@media screen and (max-width: 1023px){    
    .cover {
        width: calc(100% + 48px);
        margin-left: -24px;
    }
}

@media screen and (max-width:767px){    
    .cover {
        width: calc(100% + 32px);
        margin-left: -16px;
        margin-top: 64px;
    } 
}