
.lead__figure {
    margin-top: 78px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    position: relative;
}

@media screen and (max-width: 1023px){
    .lead__figure {
        width: calc(100% + 48px);
    }
}

@media screen and (max-width:767px){
    .lead__figure {
        width: calc(100% + 32px);
        margin-top: 40px;
    } 
}  