.quotes {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 19px;
}
@media screen and (max-width: 1023px){
    .quotes{
        grid-template-columns: minmax(250px, 380px);
        text-align: center;
        justify-content: center;
        grid-row-gap: 45px;
    }
}