.place {
    display: grid;
    grid-template-columns: minmax(340px, 460px) minmax(350px, 485px);
    grid-column-gap: 40px;
    grid-row-gap: 60px;
    justify-content: center;
}
@media screen and (max-width:767px) {
    .place {
        display: flex;
        flex-direction: column;
    }
}